@model Prueba_Tecnica.Models.Alojamiento

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alojamiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroHabitaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroHabitaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBanos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroBanos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadMaxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cocina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cocina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cocineta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cocineta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terraza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terraza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Televisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Televisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SofaCama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SofaCama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nevera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nevera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSedeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSedeNavigation.IdSede)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAlojamiento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
