@model Prueba_Tecnica.Models.ReservaApartamento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ReservaApartamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartamento.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temporada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temporada.IdTemporada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPersonas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPersonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncluyeLavanderia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncluyeLavanderia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReserva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
